/* ========= Font Declaration ========= */
@font-face {
  font-family: "Sora";
  font-display: swap;
  src: url("../assets/fonts/Sora-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  font-display: swap;
  src: url("../assets/fonts/Sora-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  font-display: swap;
  src: url("../assets/fonts/Sora-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

/* ========= Reset ========= */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
  padding: 0;
}

/* ========= Variables ========= */
:root {
  --clr-primary: #e6d6fc;
  --clr-accent-500: #883ae1;
  --clr-accent-900: #20293a;
  --clr-neutral-100: #fff;
  --clr-neutral-200: #fafaf9;
  --clr-neutral-400: #e5eaf0;
  --clr-neutral-900: #6c727f;

  --ff-sans: "Sora", Verdana, sans-serif;
  --fs-title: 1.125rem;
  --fs-body: 0.875rem;
  --fs-small: 0.75rem;
  --fs-tag: 0.625rem;

  --spacer: 1rem;

  --shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);

  --radius: 14px;
}

/* ========= General ========= */
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-body);
  font-weight: 300;
  line-height: 1.4;
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-900);
}

/* ========= Utilities ========= */
.flow-content > * + * {
  margin-top: var(--spacer);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.55rem 0.35rem;
}
/* ========= Layout ========= */
main {
  padding: 164px 0;
  display: flex;
  justify-content: center;
}

/* ========= Component ========= */
.card {
  max-width: 23rem;
  padding: 1rem 1rem 1.25rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background-color: var(--clr-neutral-100);
  position: relative;
}

/* horizontal line on card */
.card::before {
  content: "";
  position: absolute;
  top: calc(100% - 3.4375rem);
  left: 0;
  border-top: 1px solid var(--clr-neutral-400);
  width: 100%;
}

.card__visual > img,
.card__visual > .visual-element {
  border-radius: var(--radius);
  width: 100%;
  max-height: 9.5rem;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__info > h1,
.card__info > .title {
  font-weight: 600;
  color: var(--clr-accent-900);
  font-size: var(--fs-title);
}

.card__info > p,
.card__info > .paragraph {
  --spacer: 0.375rem;
}

.card__info > h2,
.card__info > .sub-title {
  --spacer: 2.625rem;
  font-weight: 400;
  font-size: var(--fs-small);
}

.tag {
  display: inline-block;
  line-height: 1;
  padding: 0.35rem 1rem;
  background-color: var(--tag-bg, var(--clr-primary));
  color: var(--tag-fg, var(--clr-accent-500));
  font-family: var(--ff-headings);
  font-size: var(--fs-tag);
  font-weight: 600;
  border-radius: 0.7rem;
}
